<div>
<%= @game.opponent.name %> attacked <%= @game.current_turn.name %>
</div>
<div>
<%= @game.current_turn.name %>'s hit points is now <%= @game.current_turn.health %>
</div>
<div>
<form action="/play" method="get">
    <input type="submit" value="Switch Turns">
  </form>
</div>
