
<div>
<%= @game.player1.name %> vs. <%= @game.player2.name %>
</div>

<div>
<%= @game.player2.name %>'s hit points <%= @game.player2.health %>
</div>

<div>
<form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>
